# WARNING: KEEP THE ORDER AND NO SPACE BEFORE TEE_xxx PARAMETERS

# For the TEE module you have to give the following information:

# TEE_VERSION <version> (version required)
# TEE_FILE_PATH <path> (relative directory path where to load the kernel source)

# TEE_ARCHIVE_PATH <path> (URL used to load containing archive)
# or (exclusive)
# TEE_GIT_PATH <path> (GIT URL used to clone containing)
# TEE_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the TEE_VERSION set is used)

# If additional patches are required (optional)
# TEE_PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# TEE_PATCH_<n> <file name> (file name with or without .patch suffix)

TEE_VERSION 3.9.0

TEE_FILE_PATH device/stm/stm32mp1-tee/optee_os-stm32mp1

# By default, the archive is loaded
TEE_ARCHIVE_PATH https://github.com/OP-TEE/optee_os
# TEE_GIT_PATH https://github.com/OP-TEE/optee_os

# STM32MP1 OP-TEE OS integration
TEE_PATCH_1 0001-3.9.0-stm32mp-r1.patch
TEE_PATCH_2 0002-3.9.0-stm32mp-r2.patch

# Add-ons for Android
TEE_PATCH_3 0050-ltc-asn1-der-add-support-of-additional-types.patch
TEE_PATCH_4 0051-libtomcrypt-rsa-oaep-Use-SHA-1-by-default-for-MGF1.patch
TEE_PATCH_5 0052-core-crypto-add-support-MD5-hashes-in-RSA-sign-verif.patch
TEE_PATCH_6 0053-core-crypto-detect-elliptic-curve-size.patch
TEE_PATCH_7 0054-libutee-remove-restrictions-for-TEE_ALG_RSA_NOPAD.patch
TEE_PATCH_8 0055-core-crypto-change-supported-HMAC-key-size-ranges.patch
TEE_PATCH_9 0056-core-crypto-add-free-rsa-ecc-keypair-calls.patch
TEE_PATCH_10 0057-utils-add-PRIdLong-PRIduLong-and-PRIdSizeT-definitio.patch
TEE_PATCH_11 0058-arm-plat-stm32mp1-set-AVB-as-early-TA.patch
TEE_PATCH_12 0059-arm-plat-stm32mp1-increase-xlat-number-of-pre-alloca.patch
TEE_PATCH_13 0060-arm-plat-stm32mp1-increase-HEAP-size.patch
TEE_PATCH_14 0061-scripts-adapt-symbolize-to-Android-toolchain.patch
TEE_PATCH_15 0062-rmpb-fix-infinite-recursion-in-dump_fat-when-CFG_TEE.patch
TEE_PATCH_16 0063-core-Bad-assert-in-fat_entry_dir_update.patch
TEE_PATCH_17 0064-core-Fix-RPMB-fat-entry-cache-buffer-overflow.patch
TEE_PATCH_18 0065-core-rpmb-fix-off-by-one-in-block-index-check.patch
TEE_PATCH_19 0066-core-rpmb-return-TEE_ERROR_STORAGE_NO_SPACE-if-no-sp.patch
TEE_PATCH_20 0067-core-rpmb-fs-uses-mempool-for-temporary-transfer-buf.patch
TEE_PATCH_21 0068-core-rpmb-fix-initialization-of-new-rpmb-data.patch
TEE_PATCH_22 0069-core-fix-bad-memset-in-update_write_helper.patch
TEE_PATCH_23 0070-tee_rpmb_fs-Adding-offset-to-memref-to-ensure-32-bit.patch
