# WARNING: KEEP THE ORDER AND NO SPACE BEFORE TEE_xxx PARAMETERS

# For the TEE module you have to give the following information:

# TEE_VERSION <version> (version required)
# TEE_FILE_PATH <path> (relative directory path where to load the kernel source)

# TEE_ARCHIVE_PATH <path> (URL used to load containing archive)
# or (exclusive)
# TEE_GIT_PATH <path> (GIT URL used to clone containing)
# TEE_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the TEE_VERSION set is used)

# If additional patches are required (optional)
# TEE_PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# TEE_PATCH_<n> <file name> (file name with or without .patch suffix)

TEE_VERSION 3.19.0

TEE_FILE_PATH device/stm/stm32mp2-tee/optee_os-stm32mp2

# By default, the archive is loaded
# TEE_ARCHIVE_PATH https://github.com/OP-TEE/optee_os
TEE_GIT_PATH https://github.com/OP-TEE/optee_os
TEE_GIT_SHA1 afacf356f9593a7f83cae9f96026824ec242ff52

TEE_PATCH_1	0001-3.19.0-stm32mp-r2-rc14.patch
TEE_PATCH_2	0002-op-tee-fonts.patch
TEE_PATCH_3	0003-ltc-asn1-der-add-support-of-additional-types.patch
TEE_PATCH_4	0004-libtomcrypt-rsa-oaep-Use-SHA-1-by-default-for-MGF1.patch
TEE_PATCH_5	0005-core-crypto-add-support-MD5-hashes-in-RSA-sign-verif.patch
TEE_PATCH_6	0006-core-crypto-detect-elliptic-curve-size.patch
TEE_PATCH_7	0007-libutee-remove-restrictions-for-TEE_ALG_RSA_NOPAD.patch
TEE_PATCH_8	0008-core-crypto-change-supported-HMAC-key-size-ranges.patch
TEE_PATCH_9	0009-utils-add-PRIdLong-PRIduLong-and-PRIdSizeT-definitio.patch
TEE_PATCH_10	0010-arm-plat-stm32mp2-set-AVB-as-early-TA.patch
TEE_PATCH_11	0011-tee_rpmb_fs-Adding-offset-to-memref-to-ensure-32-bit.patch
TEE_PATCH_12	0012-dts-change-fastboot-to-bootloader-reboot-mode-used-i.patch
TEE_PATCH_13	0013-dts-use-retram-as-permanent-storage-for-debug.patch
