# WARNING: KEEP THE ORDER AND NO SPACE BEFORE TEE_xxx PARAMETERS

# For the TEE module you have to give the following information:

# TEE_VERSION <version> (version required)
# TEE_FILE_PATH <path> (relative directory path where to load the kernel source)

# TEE_ARCHIVE_PATH <path> (URL used to load containing archive)
# or (exclusive)
# TEE_GIT_PATH <path> (GIT URL used to clone containing)
# TEE_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the TEE_VERSION set is used)

# If additional patches are required (optional)
# TEE_PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# TEE_PATCH_<n> <file name> (file name with or without .patch suffix)

TEE_VERSION 3.7.0

TEE_FILE_PATH device/stm/stm32mp1/tee/kmgk

# By default, the archive is loaded
TEE_ARCHIVE_PATH https://github.com/linaro-swg/kmgk
# TEE_GIT_PATH https://github.com/linaro-swg/kmgk

TEE_PATCH_1 0001-keymaster-update-for-Android-11.patch
TEE_PATCH_2 0002-keymaster-clean-replace-tab-by-space-for-indentation.patch
TEE_PATCH_3 0003-keymaster-change-property-name-vendor.xxx-required.patch
TEE_PATCH_4 0004-keymaster-ta-update-for-32-64bit-compatibility.patch
TEE_PATCH_5 0005-km-ta-ECDSA-Remove-digest-padding.patch
TEE_PATCH_6 0006-keymaster-ta-remove-unused-elements-warnings.patch
TEE_PATCH_7 0007-kmgk-remove-optee-interface-instance.patch
