# WARNING: KEEP THE ORDER AND NO SPACE BEFORE TEE_xxx PARAMETERS

# For the TEE module you have to give the following information:

# TEE_VERSION <version> (version required)
# TEE_FILE_PATH <path> (relative directory path where to load the kernel source)

# TEE_ARCHIVE_PATH <path> (URL used to load containing archive)
# or (exclusive)
# TEE_GIT_PATH <path> (GIT URL used to clone containing)
# TEE_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the TEE_VERSION set is used)

# If additional patches are required (optional)
# TEE_PATCH_1 <file name> (file name with or without .patch suffix)
# ...
# TEE_PATCH_<n> <file name> (file name with or without .patch suffix)

TEE_VERSION v2.12.0

TEE_FILE_PATH device/stm/stm32mp2-tee/SCP-firmware

TEE_GIT_PATH https://github.com/ARM-software/SCP-firmware.git
# TEE_GIT_SHA1 0c7236b1851d90124210a0414fd982dc55322c7c

TEE_PATCH_1 0001-2.12-stm32mp-r1.patch
TEE_PATCH_2 0002-Correct-git-error.patch
