# WARNING: KEEP THE ORDER AND NO SPACE BEFORE TEE_xxx PARAMETERS

# For the TEE module you have to give the following information:

# TEE_FILE_PATH <path> (relative directory path where to load the kernel source)
# TEE_VERSION <version> (version selected)

# TEE_ARCHIVE_PATH <path> (URL used to load archive)
# or (exclusive)
# TEE_GIT_PATH <path> (GIT URL used to clone containing)
# TEE_GIT_SHA1 <sha1> (Optional: GIT SHA1 required - if not defined the TEE_VERSION set is used)

# If additional patches are required (optional)
# TEE_PATCH_1 <file name> (file name without .patch suffix)
# ...
# TEE_PATCH_<n> <file name> (file name without .patch suffix)

TEE_VERSION 3.19.0

TEE_FILE_PATH device/stm/stm32mp2/tee/optee_client
# By default, the archive is loaded
TEE_ARCHIVE_PATH https://github.com/OP-TEE/optee_client
# TEE_GIT_PATH https://github.com/OP-TEE/optee_client

# TEE_PATCH_1 0001-tee-supplicant-disable-RPMB-emulator.patch

TEE_FILE_PATH device/stm/stm32mp2/tee/optee_test
# By default, the archive is loaded
TEE_ARCHIVE_PATH https://github.com/OP-TEE/optee_test
# TEE_GIT_PATH https://github.com/OP-TEE/optee_test
