# For the TA build you have to give the following information:

# TA_SRC <path> (relative directory path where the ta source code has been loaded)
# TA_NAME <name> (name of the built TA)

# TA used for Android features (keymaster and gatekeeper)

TA_DIR		keymaster
TA_SRC		device/stm/stm32mp1/tee/kmgk/keymaster/ta/
TA_NAME		dba51a17-0563-11e7-93b1-6fa7b0071a51

TA_DIR		gatekeeper
TA_SRC		device/stm/stm32mp1/tee/kmgk/gatekeeper/ta/
TA_NAME		4d573443-6a56-4272-ac6f-2425af9ef9bb

# TA used for OP-TEE test purpose (xtest)

TA_DIR		aes_perf
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/aes_perf
TA_NAME		e626662e-c0e2-485c-b8c8-09fbce6edf3d

TA_DIR		concurrent
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/concurrent
TA_NAME		e13010e0-2ae1-11e5-896a-0002a5d5c51b

TA_DIR		concurrent_large
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/concurrent_large
TA_NAME		5ce0c432-0ab0-40e5-a056-782ca0e6aba2

TA_DIR		create_fail_test
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/create_fail_test
TA_NAME		c3f6e2c0-3548-11e1-b86c-0800200c9a66

TA_DIR		crypt
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/crypt
TA_NAME		cb3e5ba0-adf1-11e0-998b-0002a5d5c51b

TA_DIR		miss
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/miss
TA_NAME		528938ce-fc59-11e8-8eb2-f2801f1b9fd1

TA_DIR		os_test_lib
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/os_test_lib
TA_NAME		ffd2bded-ab7d-4988-95ee-e4962fff7154

TA_DIR		os_test
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/os_test
TA_NAME		5b9e0e40-2636-11e1-ad9e-0002a5d5c51b

TA_DIR		os_test_lib_dl
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/os_test_lib_dl
TA_NAME		b3091a65-9751-4784-abf7-0298a7cc35ba

TA_DIR		sdp_basic
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sdp_basic
TA_NAME		12345678-5b69-11e4-9dbb-101f74f00099

TA_DIR		rpc_test
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/rpc_test
TA_NAME		d17f73a0-36ef-11e1-984a-0002a5d5c51b

TA_DIR		sha_perf
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sha_perf
TA_NAME		614789f2-39c0-4ebf-b235-92b32ac107ed

TA_DIR		sims
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sims
TA_NAME		e6a33ed4-562b-463a-bb7e-ff5e15a493c8

TA_DIR		sims_keepalive
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sims_keepalive
TA_NAME		a4c04d50-f180-11e8-8eb2-f2801f1b9fd1

TA_DIR		socket
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/socket
TA_NAME		873bcd08-c2c3-11e6-a937-d0bf9c45c61c

TA_DIR		storage
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage
TA_NAME		b689f2a7-8adf-477a-9f99-32e90c0ad0a2

TA_DIR		storage2
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage2
TA_NAME		731e279e-aafb-4575-a771-38caa6f0cca6

TA_DIR		storage_benchmark
TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage_benchmark
TA_NAME		f157cda0-550c-11e5-a6fa-0002a5d5c51b
