# For the TA build you have to give the following information:

# TA_SRC <path> (relative directory path where the ta source code has been loaded)
# TA_NAME <name> (name of the built TA)

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/aes_perf
TA_NAME		e626662e-c0e2-485c-b8c8-09fbce6edf3d

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/concurrent
TA_NAME		e13010e0-2ae1-11e5-896a-0002a5d5c51b

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/concurrent_large
TA_NAME		5ce0c432-0ab0-40e5-a056-782ca0e6aba2

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/create_fail_test
TA_NAME		c3f6e2c0-3548-11e1-b86c-0800200c9a66

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/crypt
TA_NAME		cb3e5ba0-adf1-11e0-998b-0002a5d5c51b

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/os_test_lib
TA_NAME		ffd2bded-ab7d-4988-95ee-e4962fff7154

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/os_test
TA_NAME		5b9e0e40-2636-11e1-ad9e-0002a5d5c51b

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sdp_basic
TA_NAME		12345678-5b69-11e4-9dbb-101f74f00099

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/rpc_test
TA_NAME		d17f73a0-36ef-11e1-984a-0002a5d5c51b

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sha_perf
TA_NAME		614789f2-39c0-4ebf-b235-92b32ac107ed

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/sims
TA_NAME		e6a33ed4-562b-463a-bb7e-ff5e15a493c8

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/socket
TA_NAME		873bcd08-c2c3-11e6-a937-d0bf9c45c61c

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage
TA_NAME		b689f2a7-8adf-477a-9f99-32e90c0ad0a2

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage2
TA_NAME		731e279e-aafb-4575-a771-38caa6f0cca6

TA_SRC		device/stm/stm32mp1/tee/optee_test/ta/storage_benchmark
TA_NAME		f157cda0-550c-11e5-a6fa-0002a5d5c51b
